@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d56916;
    --black:#E6DAD1;
    --bg:#FCF3ED;
    --border:.1rem solid #d56916;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
}

section{
    padding:1rem 3%;
}

body{
    background: var(--black);
}

button{
    position: absolute;
    font-size: 2.5rem;
    margin-top: 380px;
    margin-left: 280px;
    color: #FFF;
    background-color: #d56916;
    border: none;
    padding:.9rem 3rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;
}

.heading{
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 6.5rem;
    margin-top: 249px;
    margin-left: 100px;
    color: #d56916;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .nome{
    margin:0 1rem;
    font-size: 2.0rem;
    color: #d56916;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color: #d56916;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .navbar.active{
    background-color: #E6DAD1;
}

.home .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.home .row .image{
    flex:1 1 45rem;
}

.home .row .image img{
    height: 616px;
    margin-left: 811px;
}

.footer{
    background:var(--black);
    text-align: center;
}

.footer h3{
    margin-top: 50px;
    color: #d56916;
    font-size: 2rem;
}

.footer .eqp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .eqp p{
    padding:.7rem 2rem;
    color:black;
    border:var(--border);
    font-size: 2rem;
}

.footer .eqp p:hover{
    color: #d56916;
}